<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Organic Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">Shopping Cart</a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li class="nav-item dropdown" *ngIf="appUser as user; else anonymousUser" [class.show]="isDropdownOpen">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" (click)="toggleDropdown()" (mouseleave)="toggleDropdown()">{{user.displayName}}</a>
          <div class="dropdown-menu" (mouseenter)="toggleDropdown()" (mouseleave)="toggleDropdown()"
            [class.show]="isDropdownOpen" aria-labelledby="dropdown01" *ngIf="isDropdownOpen">
            <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
            <ng-container *ngIf="user.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<mat-toolbar color="primary">
  <!-- <button matIconButton aria-label="menu-icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Organic Shop</span> -->
  <button mat-button matTooltip="Organic Shop" routerLink="/">
    <mat-icon>storefront</mat-icon>
    Organic Shop
  </button>
  <span class="example-spacer"></span>
  <button matIconButton matTooltip="Shopping Cart" aria-label="cart-icon-button" routerLink="/shopping-cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <ng-template #anonymousUser>
    <button matIconButton matTooltip="Login" aria-label="Login-icon-button" routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
  <ng-container *ngIf="(currentUser | async) as user; else anonymousUser">
    <button matIconButton [matTooltip]="user.displayName" aria-label="LoginUser-button"
      [matMenuTriggerFor]="loginUserMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #loginUserMenu="matMenu">
      <button mat-menu-item matTooltip="My Profile" matTooltipPosition="after" routerLink="/my-profile">
        <mat-icon>account_box</mat-icon>
        My Profile
      </button>
      <button mat-menu-item routerLink="/my-orders" matTooltip="My Orders" matTooltipPosition="after">
        <mat-icon>shopping_basket</mat-icon>
        My Orders
      </button>
      <ng-container *ngIf="user?.isAdmin">
        <button mat-menu-item [matMenuTriggerFor]="adminMenu" matTooltip="Admin Panel" matTooltipPosition="above">
          <mat-icon>admin_panel_settings</mat-icon>
          Manage
        </button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/admin/orders" matTooltip="Manage Orders" matTooltipPosition="before">
            <mat-icon>list_alt</mat-icon>
            Manage Orders
          </button>
          <button mat-menu-item routerLink="/admin/products" matTooltip="Manage Products" matTooltipPosition="before">
            <mat-icon>inventory</mat-icon>
            Manage Products
          </button>
        </mat-menu>
      </ng-container>
      <button mat-menu-item (click)="logout()" matTooltipPosition="after" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<!-- {{currentUser | async| json}} -->
