<h2 mat-dialog-title>
  <mat-icon>inventory</mat-icon>
  Add New Product Form
</h2>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="product-form-container">
      <div class="product-form-fields">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Product Name</mat-label>
          <mat-icon matPrefix>label</mat-icon>
          <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Category</mat-label>
          <mat-icon matPrefix>category</mat-icon>
          <mat-select formControlName="category" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Price</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput type="number" formControlName="price" required min="0">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Image URL</mat-label>
          <mat-icon matPrefix>image</mat-icon>
          <input matInput formControlName="imageUrl">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <mat-icon matPrefix>description</mat-icon>
          <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
      </div>
      <div class="product-form-preview">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title *ngIf="getFormValue('name')">{{ getFormValue('name') | titlecase }}</mat-card-title>
              <mat-card-subtitle *ngIf="getFormValue('category')">
                {{ getFormValue('category') | titlecase }}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <img mat-card-xl-image *ngIf="getFormValue('imageUrl')" [src]="getFormValue('imageUrl')" alt="Product Image">
          <mat-card-content>
            <p *ngIf="getFormValue('price')">{{ getFormValue('price') | currency }}</p>
            <p *ngIf="getFormValue('description')">{{ getFormValue('description') }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" matTooltip="Save" mat-dialog-close="submit" type="submit"
      [disabled]="productForm.invalid  || productForm.pristine">
      <mat-icon>{{ primaryButtonName | lowercase }}</mat-icon>
      {{ primaryButtonName | uppercase }}
    </button>
    <button mat-raised-button type="button" mat-dialog-close="cancel" matTooltip="Cancel " (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      CANCEL
    </button>
  </mat-dialog-actions>
</form>
