 .product-form-container {
   display: grid;
   gap: 1rem;
   align-items: flex-start;
   grid-template-columns: 3fr 1fr;
 }

 .product-form-fields {
   /* flex: 1;
   display: flex;
   flex-direction: column;
   gap: 8px; */
 }

 .product-form-preview {
  max-width: 25vw;
  /* flex: 1;
   width: 180px;
   min-width: 120px; */
 }

 .full-width {
  width: 100%;
 }
